<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white !important">Please Wait. </p>
</ngx-spinner>
<nav class="navbar navbar-expand-sm bg-nav navbar-dark mb-5 sticky-top p-3">
    <div class="container-fluid">
        <a class=" navbar-brand font-weight-bold">Eseal</a>
        <div class="ml-auto">
            <div class="dropdown">
                <span class="text-uppercase profile">{{profile}}</span>
                <div class="dropdown-content">
                    <a>{{profileName}}</a>
                    <a (click)="logout()"><i class="fa fa-power-off pr-2" aria-hidden="true"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid text-right pb-3">
    <a class="btn btn-primary mr-3" (click)="back()">Back</a>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <div class="row pl-5  pt-3  pr-5">
                        <div class="col-md-4">
                            <h4>User List</h4>
                        </div>
                        <div class="col-md-4 pb-3">
                            <button class="btn btn-primary pull-right" data-toggle="modal"
                                data-target="#exampleModal">Add
                                User</button>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" [(ngModel)]="emailSearch"
                                placeholder="&#xF002; Search" style="font-family: FontAwesome;" />
                        </div>
                    </div>
                    <table class="table table-hover table-responsive mb-0 p-5">
                        <thead>
                            <tr>
                                <th class="th-lg w-100 ">User Name</th>
                                <th class="th-lg w-17">Email</th>
                                <th class="th-lg w-17">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let row of userRef | customerEmailFilter:emailSearch | paginate: { itemsPerPage: 6, currentPage: p }  let i = index">
                                <td class="text-capitalize pt-3">{{row.name}}</td>
                                <td class="pt-3">{{row.email}}</td>
                                <td class="pt-3 text-center"><i class="fa fa-edit" data-toggle="modal"
                                        data-target="#editUser" (click)="edit(row)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="p-3 text-center fs-18" *ngIf="(userRef | customerEmailFilter:emailSearch) == false">No
                        data found!</p>
                    <!-- *************************************************** Pagination *************************************************************-->
                    <div class="text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ************************************************Modal for create user**************************************************************** -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-width">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Create User</h4>
                <button type="button" class="close pull-right  text-black-50" aria-label="Close" data-dismiss="modal"
                    (click)="resetUser()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createUserForm" #createUserForm="ngForm">
                    <div class="form-group" data-validate="Enter Name">
                        <input type="text" name="name" [(ngModel)]="name" class="form-control w-75 m-auto"
                            placeholder="Name" autocomplete="new-password" #names="ngModel" required>
                        <span *ngIf="names.invalid && (names.dirty || names.touched)">
                            <p class="text-danger pad-l" *ngIf="names.errors.required">
                                Name is required.
                            </p>
                        </span>
                    </div>

                    <div class="form-group" data-validate="Enter email">
                        <input type="text" name="userName" [(ngModel)]="userName" placeholder="Email"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" class="form-control w-75 m-auto"
                            autocomplete="new-password" #email="ngModel" required>
                        <span *ngIf="email.errors && (email.invalid && email.touched)">
                            <p class="text-danger pad-l" *ngIf="email.errors.required">Email is
                                required.</p>
                            <p class="text-danger pad-l" *ngIf="email.errors.pattern">Please enter valid
                                email.</p>
                        </span>
                    </div>
                    <div class="form-group" data-validate="Enter password">
                        <input type="password" name="pass" [(ngModel)]="password" class="form-control w-75 m-auto"
                            placeholder="Password" autocomplete="new-password" #pass="ngModel" minlength="6" required>
                        <span *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                            <p class="text-danger pad-l" *ngIf="pass.errors.required">
                                Password is required.
                            </p>
                            <p class="text-danger pad-l" *ngIf="pass.errors?.minlength">
                                Password must be greater than 6 characters long.
                            </p>
                        </span>
                    </div>
                    <div class="form-group pl-5" data-validate="Enter Gender">
                        <label class="radio-inline pr-4"></label>
                        <input type="radio" class="mr-2" name="gender" value="male" [checked]="gender == 'male'"
                            [(ngModel)]="gender">Male
                        <label class="radio-inline pr-4"></label>
                        <input type="radio" class="mr-2" name="gender" value="female" [checked]="gender == 'female'"
                            [(ngModel)]="gender">Female
                    </div>
                    <div class="form-group pl-5" data-validate="Enter Gender">
                        <label class="pl-4">Select picture</label>
                        <input type="file" (change)="upload($event)" accept=".png,.jpg" class=" pl-5" />
                    </div>
                    <div class="text-center mb-4">
                        <button class="btn btn-primary w-25" type="button" [disabled]="!createUserForm.valid"
                            (click)="createUser()">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ************************************************Modal for edit user**************************************************************** -->
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-width">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit User</h4>
                <button type="button" class="close pull-right  text-black-50" aria-label="Close" data-dismiss="modal"
                    (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editUserForm" #editUserForm="ngForm">
                    <div class="form-group" data-validate="Enter Name">
                        <input type="text" name="nameE" [(ngModel)]="nameE" class="form-control w-75 m-auto"
                            placeholder="Name" autocomplete="new-password" #namee="ngModel" required>
                        <span *ngIf="namee.invalid && (names.dirty || namee.touched)">
                            <p class="text-danger pad-l" *ngIf="namee.errors.required">
                                Name is required.
                            </p>
                        </span>
                    </div>

                    <div class="form-group" data-validate="Enter email">
                        <input type="text" name="userNameE" [(ngModel)]="userNameE" placeholder="Email"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" class="form-control w-75 m-auto"
                            autocomplete="new-password" #emailE="ngModel" required disabled>
                        <span *ngIf="emailE.errors && (emailE.invalid && emailE.touched)">
                            <p class="text-danger pad-l" *ngIf="emailE.errors.required">Email is
                                required.</p>
                            <p class="text-danger pad-l" *ngIf="emailE.errors.pattern">Please enter valid
                                email.</p>
                        </span>
                    </div>
                    <div class="form-group" data-validate="Enter old password">
                        <input type="password" name="passo" [(ngModel)]="passwordOld" class="form-control w-75 m-auto"
                            placeholder="Old Password" autocomplete="new-password" #passE="ngModel" minlength="6"
                            (change)="check()" required>
                        <span *ngIf="passE.invalid && (passE.dirty || passE.touched)">
                        </span>
                        <p class="text-danger  pad-l" id="error" style="display: none;">Password doesn't match</p>
                    </div>
                    <div class="form-group" data-validate="Enter new password">
                        <input type="password" name="passn" [(ngModel)]="passwordNew" class="form-control w-75 m-auto"
                            placeholder="New Password" autocomplete="new-password" #passn="ngModel" minlength="6"
                            required>
                        <span *ngIf="passn.invalid && (passn.dirty || passn.touched)">
                            <p class="text-danger pad-l" *ngIf="passn.errors.required">
                                New Password is required.
                            </p>
                            <p class="text-danger pad-l" *ngIf="passn.errors?.minlength">
                                Password must be greater than 6 characters.
                            </p>
                        </span>
                    </div>
                    <div class="form-group" data-validate="Enter confirm password">
                        <input type="password" name="passc" [(ngModel)]="passwordConf" class="form-control w-75 m-auto"
                            placeholder="Confirm Password" autocomplete="new-password" #passc="ngModel" minlength="6"
                            (keyup)="compare()" required>
                        <span *ngIf="passc.invalid && (passc.dirty || passc.touched)">
                            <p class="text-danger pad-l" *ngIf="passc.errors.required">
                                Confirm Password is required.
                            </p>
                        </span>
                        <p class="text-danger  pad-l" id="error1" style="display: none;">Password doesn't match</p>
                    </div>
                    <div class="form-group pl-5" data-validate="Enter Gender">
                        <label class="radio-inline pr-4"></label>
                        <input type="radio" class="mr-2" name="genderE" value="male" [checked]="genderE == 'male'"
                            [(ngModel)]="genderE">Male
                        <label class="radio-inline pr-4"></label>
                        <input type="radio" class="mr-2" name="gender" value="female" [checked]="genderE == 'female'"
                            [(ngModel)]="gender">Female
                    </div>
                    <div class="form-group pl-5" *ngIf="imgE==null">
                        <input type="file" (change)="upload($event);editImg()" accept=".png,.jpg" class=" pl-4" />
                    </div>
                    <div class="form-group pl-5" *ngIf="imgE != null">
                        <img [src]="imgE" alt="" height="50" width="50" class="ml-4">
                        <i class="fa fa-edit pl-4" style="font-size: 16px !important;" (click)="uploader.click()"></i>
                        <input type="file" (change)="upload($event);editImg()" accept=".png,.jpg" class=" pl-5"
                            #uploader hidden />
                    </div>
                    <div class="text-center mb-4">
                        <button class="btn btn-primary w-25" type="button" [disabled]="editUserForm.invalid"
                            (click)="editUser()">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>